.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.bajar-margin {
  margin-top: 20px;
}

#logo_uniandes {
  width: 400px;
  height: 140px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.fa-circle {
	font-size: 8px;
}