{% extends "templates/template.html" %}
{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
{% load staticfiles %}
	  <div id="logo_uniandes"><img src="{% static 'img/logos/uniandes.png' %}" /></div>
      <h1 class="display-6 text-center">Maestría en Ingeniería de la Información</h1>
	  <h1 class="display-6 text-center">MINE 4102: Análisis de Información sobre Big Data</h1>
	  <h1 class="display-6 text-center">Período 201720</h1>
	  <h1 class="display-6 text-center">Grupo 06</h1>
    </div>
  </div>
{% endblock %}
{% block talleres %}
	<div class="col-md-12">
      <h2>Taller 1</h2>
      <p class="text-justify"><span class="text-bold">Parte 1: </span>Construir de forma dinámica el directorio de personas vinculadas con Uniandes a partir de la información disponible en  la  Web  de  cada  una  de  las dependencias  académicas. Incluir directivos, profesores, personal de laboratorio, personal administrativo y posiblemente estudiantes allí referenciados.</p>
	  <p class="text-justify"><span class="text-bold">Parte 2: </span>Desarrollar un componente sencillo que permita consumir las fuentes indicadas al final del enunciado y filtrarlas por cualquiera de los siguientes elementos: palabras en el título, en la descripción o en las categorías del artículo (post), de acuerdo con lo indicado por el usuario. El criterio de consulta es un elemento y su contenido. El usuario debe poder actualizar el criterio de filtrado en cualquier momento.</p>
	  <p class="text-justify"><span class="text-bold">Fuentes grupo 6: </span><ul><li><a href="http://www.eltiempo.com/" target="_blank">El tiempo</a></li><li><a href="http://www.elmundo.com/" target="_blank">Elmundo.com</a></li><li><a href="http://www.wradio.com.co/" target="_blank">WRadio</a></li></ul></p>
	  <p><a class="btn btn-primary btn-lg" href="taller_1" role="button">Entrar &raquo;</a></p>
    </div>
<!--	<div class="col-md-12">
	    <h2>Taller 2</h2>
		<p>Taller por asignar...</p>
		<p><a class="btn btn-primary btn-lg disabled" href="#" role="button">Entrar &raquo;</a></p>
	</div>
	<div class="col-md-12">
		<h2>Taller 3</h2>
		<p>Taller por asignar...</p>
		<p><a class="btn btn-primary btn-lg disabled" href="#" role="button">Entrar &raquo;</a></p>
	</div>
	<div class="col-md-12">
		<h2>Taller 4</h2>
		<p>Taller por asignar...</p>
		<p><a class="btn btn-primary btn-lg disabled" href="#" role="button">Entrar &raquo;</a></p>
	</div>
-->
{% endblock %}